/* globals.css */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #A60321;
  --secondary: #F2B90C;
  --tertiary: #333333;
  --quaternary: #FEF1E4;
  --border: #d9d9d9;
  --border-color: #b5b5b5;
  --card-color: #FDF3F5;
  --category-color: #FFF7D6;
  --loading-color: #F9D6DD;

}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: var(--secondary);
  color: #fff;
}

/* For Firefox */
::-moz-selection {
  background-color: var(--secondary);
  color: #fff;
}

